<!-- request an invite -->

  <div class="section-colored invite-frnd">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h4 style="text-align:center; margin-bottom:20px;"><span id="referred">0</span> {{content.friends_joined}}</h4>
          <div class="lg_device">

            <div class="row row-friends-joined">
              <div class="col-sm-3">
                <div class="row-main-label">{{content.friends}}</div>
              </div>
              <div class="col-sm-9">
                <input type="text" id="slider-track" style="display: none;" data="value:'0'" value="0" data-slider-enabled="false">
              </div>
            </div>
            <div class="row row-rewards-texts">

                <div class="col-sm-3">
                  <div class="row-main-label">{{content.reward_text}}</div>
                </div>
                <div class="col-sm-9">

                  <div class="row rewards-boxes">

                  {% assign num_levels = content.number_of_rewards_levels %}

                  {% for i in (1..num_levels) %}
                  {% assign prize_text = 'prize_text_' | append: i %}
                  {% assign prize_level = 'prize_level_' | append: i %}
                  {% assign col_class = 'col-sm-2' %}

                  {% if num_levels == 2 %}
                  {% assign col_class = 'col-sm-6' %}
                  {% endif %}

                  {% if num_levels == 3 %}
                  {% assign col_class = 'col-sm-4' %}
                  {% endif %}

                  {% if num_levels == 4 %}
                  {% assign col_class = 'col-sm-3' %}
                  {% endif %}

                  <div class="{{ col_class }} reward-box" data-rewardlevel="{{ content.[prize_level] }}">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <span class="reward-head-text">{{ content.[prize_level] }}</span>
                      {{ content.[prize_text] }}
                      </div>
                    </div>
                  </div>
                  {% endfor %}

                  </div>

                </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- footer -->
  <script src="//d1y0v6ricksqp.cloudfront.net/themes/viralrewards/2_0_scripts/boostrap.cls.js"></script>
  <script src="{% asset_path js/jquery-libs/fitvid/1.1/jquery.fitvids.js %}"></script>
  <script>
  if (typeof kolInsertFroalaImage === 'undefined')
      $(".container, .container-fluid").fitVids();
  </script>

  {% if content.header_background_image != '' or content.header_image_on_mobile != '' %}
    <script src="{% asset_path js/jquery-libs/backstretch/2.0.4/jquery.backstretch.min.js %}"></script>
    <!-- <script>
      /* Header background slideshow */
      $(function($){
        // If mobile image exists show it on small screens
        if (window.innerWidth >= 600) {
          {% if content.header_image_on_mobile != "" %}
            $('.header-banner').backstretch(['{{content.header_background_image}}']);
          } else if (window.innerWidth < 600) {
            $('.header-banner').backstretch(['{{content.header_image_on_mobile}}'], {duration:4000, fade: 'normal'});
          {% endif %}
        };

        // If mobile image doesn't exist show it normal
        {% if content.header_image_on_mobile == "" %}
          $('.header-banner').backstretch(['{{content.header_background_image}}']);
        {% endif %}
      });
    </script> -->
  {% endif %}
  <script>

    var total_ref = 0, rewardBoxHeight = 0;

    function kol_got_data(data) {

      setInterval(function() {
        $(".header-banner").data("backstretch") && $(".header-banner").data("backstretch").resize();
      }, 100);

      {% assign num_levels = content.number_of_rewards_levels %}

      total_ref = data.influence.direct;

      $('.reward-box').each( function(i, obj) {

        rewardlevel = $( this ).data('rewardlevel');

        if ( total_ref >= rewardlevel )
          $( this ).addClass('reward-earned');

      });

      showSlider( total_ref );
    }


    function showSlider( totalReferences ) {

      var slider_data = {
        ticks: [
          {% for i in (1..num_levels) %}
          {% assign prize_level = 'prize_level_' | append: i %}
          {{ content.[prize_level] }},
          {% endfor %}
        ],
        {% if content.dynamic_spacing == 'false' %}
        ticks_positions: [1, 20, 40, 60, 80, 100],
        {% endif %}
        ticks_values: [
          {% for i in (1..num_levels) %}
          {% assign prize_level = 'prize_level_' | append: i %}
          '{{ content.[prize_level] }}',
          {% endfor %}
        ],
        ticks_innerLabels: [
          {% for i in (1..num_levels) %}
          {% assign prize_text = 'prize_text_' | append: i %}
          '',
          {% endfor %}
        ],
        ticks_snap_bounds: 0,
        tooltip: 'hide',
        value: totalReferences
      };

      $('#referred').html(' ' + totalReferences);

      $("#slider-track").slider(slider_data);


      slider_data['orientation'] = 'vertical';
      slider_data['ticks_positions'] = null;

      $("#slider-track-vertical").slider( slider_data );

      {% if content.dynamic_spacing == 'false' %}

        adjustSliderOnMobile();

      {% endif %}
    }


    $(document).on('kol:knownlead', function(e, lead){
      kol_got_data(lead);
    });

    $(document).on('kol:unknownlead', function(url){
      showSlider(0);
    });


    {% if content.dynamic_spacing == 'false' %}

    $(window).resize( adjustSliderOnMobile );

    function adjustSliderOnMobile() {

        var totalReferences = total_ref,
        sliderVerticalTrack = $( '.slider.slider-vertical .slider-track' ),
        sliderVerticalHeight = 0,
        sliderTickFirstHeight = $( '.slider.slider-vertical .slider-tick.slider-tick-0' ).height();

        if ( rewardBoxHeight == 0 ) {

          if ( $(".sm_device .rewards-boxes .reward-box").length ) {

            rewardsBoxes = ".sm_device .rewards-boxes .reward-box";

          } else {

            rewardsBoxes = ".sm_device .slider-track .reward-box";
          }
        }

        totalRewardsBoxes = ( rewardsBoxes.length ) - 1;

        $( rewardsBoxes ).each(function( index ) {

            rewardBoxHeight = $( this ).height();

            var sliderTick = $( this ).data('slider-tick'),
            sliderTickEl = $( '.sm_device ' + sliderTick ),
            sliderTickSpan = $( '.sm_device ' + sliderTick + ' .slider-top-label' );


            if ( ! $( '.sm_device ' + sliderTick + ' .slider-tick-value' ).length ) {

              sliderTickSpan.remove();

              var sliderTickInnerHTML = sliderTickEl.html();

              sliderTickEl.empty();

              sliderTickEl.append( '<div class="slider-top-label"></div><div class="slider-tick-value">' + sliderTickInnerHTML + '</div>' );

              sliderTickSpan = $( '.sm_device ' + sliderTick + ' .slider-top-label' );

              $( this ).appendTo( sliderTickSpan );
            }


            if ( index < totalRewardsBoxes ) {

              rewardBoxHeight = $( this ).height();
              sliderVerticalHeight = sliderVerticalHeight + rewardBoxHeight;
            }
        });


        // Refresh distance between slider ticks
        var sliderSelection = $( '.sm_device .slider-selection.tick-slider-selection'),
        distanceBetweenRewards,
        rewardLevelBox2,
        rewardLevelBox3,
        sliderSelectionHeight = 0,
        sliderTickHeight = 40,
        rewardLevelBox1 = $( '.sm_device .reward-box-1' ).data('rewardlevel'),
        rewardLevelBox2 = $( '.sm_device .reward-box-2' ).data('rewardlevel'),
        rewardLevelBox3 = $( '.sm_device .reward-box-3' ).data('rewardlevel'),
        rewardLevelBox4 = $( '.sm_device .reward-box-4' ).data('rewardlevel'),
        rewardLevelBox5 = $( '.sm_device .reward-box-5' ).data('rewardlevel');
        $( ".sm_device .slider-track .slider-tick" ).each(function( index ) {

            if ( $( this ).hasClass( 'in-selection' ) ) {

              if ( index === 1 ) {

                sliderTickDistances = $('.sm_device .slider-tick-1').offset().top - $('.sm_device .slider-tick-0').offset().top;

                if (
                  totalReferences > rewardLevelBox2
                  && totalReferences < rewardLevelBox3 ) {

                  distanceInPercentage = ( totalReferences * 100 ) / rewardLevelBox3;

                  distanceBetweenRewardNonEarned = $('.sm_device .slider-tick-2').offset().top - $('.sm_device .slider-tick-1').offset().top;

                  distanceBetweenRewards = ( distanceInPercentage * distanceBetweenRewardNonEarned ) / 100 - sliderTickHeight;

                  sliderSelectionHeight = sliderSelectionHeight + distanceBetweenRewards;
                }

                sliderSelectionHeight = sliderSelectionHeight + sliderTickDistances;
              }


              if ( index === 2 ) {

                sliderTickDistances = $('.sm_device .slider-tick-2').offset().top - $('.sm_device .slider-tick-1').offset().top;

                if (
                  totalReferences > rewardLevelBox3
                  && totalReferences < rewardLevelBox4 ) {

                  distanceInPercentage = ( totalReferences * 100 ) / rewardLevelBox4;

                  distanceBetweenRewardNonEarned = $('.sm_device .slider-tick-3').offset().top - $('.sm_device .slider-tick-2').offset().top;

                  distanceBetweenRewards = ( distanceInPercentage * distanceBetweenRewardNonEarned ) / 100 - sliderTickHeight;

                  sliderSelectionHeight = sliderSelectionHeight + distanceBetweenRewards;
                }

                sliderSelectionHeight = sliderSelectionHeight + sliderTickDistances;
              }


              if ( index === 3 ) {

                sliderTickDistances = $('.sm_device .slider-tick-3').offset().top - $('.sm_device .slider-tick-2').offset().top;

                if (
                  totalReferences > rewardLevelBox4
                  && totalReferences < rewardLevelBox5 ) {

                  distanceInPercentage = ( totalReferences * 100 ) / rewardLevelBox5;

                  distanceBetweenRewardNonEarned = $('.sm_device .slider-tick-4').offset().top - $('.sm_device .slider-tick-3').offset().top;

                  distanceBetweenRewards = ( distanceInPercentage * distanceBetweenRewardNonEarned ) / 100 - sliderTickHeight;

                  sliderSelectionHeight = sliderSelectionHeight + distanceBetweenRewards;
                }

                sliderSelectionHeight = sliderSelectionHeight + sliderTickDistances;
              }


              sliderSelection.height( sliderSelectionHeight );
            }
        });

        if ( !$(".slider-track-overlay")[0] ) {

          sliderVerticalTrack.append( '<div class="slider-track-overlay"></div>' );
        }

        var sliderTrackOverlay = $( '.sm_device .slider-track-overlay' ),
        sliderTickHeightWithPad = 46,
        sliderTickRoundTopPad = 7,
        sliderPanelMarginBottom = 20;

        sliderTrackOverlay.height( rewardBoxHeight - sliderTickHeightWithPad - sliderTickRoundTopPad + sliderPanelMarginBottom);

      }

      {% endif %}

  </script>
