<footer class="site__footer" id="site__footer">
  <div class="container wrapper">
    <small><strong>{{ site.owner.name }}</strong> <small>&copy; {{ site.time | date: '%Y' }} All Rights Reserved.</small></small>
  </div>
</footer>


<!-- <footer class="site-footer">

  <div class="wrapper">

    <h4 class="footer-heading">&copy; 2016 {{ site.owner.name }}</h4>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
 -->