<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% if page.title %}{{ page.title }} &#124; {% endif %}{{ site.title }}</title>
        {% if page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html }}">{% endif %}
        {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}

        <!-- include open-graph.html w/ open moustache/percent-->

        <!-- Webmaster Tools Verification -->
        {% if site.owner.google.verify %}<meta name="google-site-verification" content="{{ site.owner.google.verify }}">{% endif %}

        {% capture canonical %}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}

        <!-- CSS -->
        <link rel="stylesheet" href="/assets/css/styles.css">

        <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

        <!--[if lt IE 9]>
        <script src="bower_components/html5shiv/dist/html5shiv.js"></script>
        <script src="_assets/js/vendor/respond.js"></script>
        <![endif]-->

        <!--load jQuery, required-->
        <!-- <script src="/assets/js/vendor/jquery-1.11.2.js"></script>

        <script src="/assets/js/vendor/jquery-ui.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script> -->

        <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>

        <!-- TYPEKIT -->
        <script src="https://use.typekit.net/gwl0zuj.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>

    </head>

















<!-- <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
 -->