<!-- MASTHEAD -->

<header class="site__header"> <!-- contains full width, resizing background image -->
	<div class="container"> <!-- 960px width, centered content area -->

		<div class="masthead"> <!-- clearfix -->

			<!-- <img src="/assets/img/circle_crow_paper.png" alt="" class="masthead__logo grit"> -->

			<div class="branding">
				<a href="http://www.talesofmurder.com/">
					<img class="" src="/assets/img/site_logo4a_f.png" alt="site logo for TalesofMurder.com" width="600">
				</a> <!-- link (ahref) makes header image a link back to HOME -->
				<!-- <h2 class="masthead__title grit"><span class="title__sub">Tales of </span><span class="title__main"><span class="m">m</span><span class="urde">urde</span><span class="r">r</span></span></h2>

				<h3 class="masthead__tagline">For readers with time to <span>kill</span> &hellip;</h3> -->
			</div> <!-- end div .masthead-inner__test -->

			<div class="navicon toggle-menu menu-right">
      	<!-- <i class="fa fa-navicon"></i> -->
      	<h6 style="margin-top: 1.25rem;font-size: 1rem;"><i class="fa fa-navicon"></i> MENU</h6>
    	</div>

		</div> <!-- end div .masthead__test -->

