<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup" class="pl_email-form">
<form action="//talesofmurder.us10.list-manage.com/subscribe/post?u=311e39626c77f842128106e92&amp;id=353a5cf800" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <h4 class="pl_email-tease">No shame in admitting you're just a reader &hellip; but if you think you can match wits with a killer:</h4>
<div class="mc-field-group">
  <input type="email" value="" name="EMAIL" class="required email pl_input" id="mce-EMAIL" placeholder="&#xf0e0;  enter email for instant access">
</div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_311e39626c77f842128106e92_353a5cf800" tabindex="-1" value=""></div>
    <div class="clear">

    <button class="pl_button" type="submit" value="" name="subscribe" id="mc-embedded-subscribe"><!-- <i class="fa fa-key icon-4x"></i> --> YES! I can solve it!</button>


    <!-- <input type="submit" value="YES! I can solve it!" name="subscribe" id="mc-embedded-subscribe" class=""> --></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->