/* ==========================================================================
   VARIABLES
   ========================================================================== */

@import 'fonts';

$max-width: 40ems;

/*==========  FONTS  ==========*/

/* TYPE FACES */

$header-font-family: "Josefin Sans",sans-serif;
$branding-font-family: "nimbus-sans-condensed",sans-serif; /* "ltc-broadway" */
$base-font-family: "raleway",sans-serif;
$big-fancy-title: "brim-narrow-combined-1",sans-serif;
$big-fancy-title1: "brim-narrow-combined-2",sans-serif;
$big-fancy-title2: "brim-narrow-combined-3";
$big-fancy-title3: "brim-narrow", sans-serif;

/* FONT WEIGHTS */
$light: 100;
$regular: 400;
$bold: 600;
$base-font-weight: $regular;
$base-font-size: 1em !default;
$base-line-height: 1.4;
$header-font-weight: $bold;





/*==========  COLORS  ==========*/

$bgcolor: #242424;
$pcolor: #474F55;
$acolor: #8B0000; /* darkred */
$paper: #fffff0;
$smallprint: darken($paper, 55%);
$base-button-color: #00a968;
$hover-button-color: #1ec279;
$hothighlight: #FFFF33;
$badblood: lighten($acolor, 2%);
$ghost: lighten($pcolor, 25%);



/*==========  BOURBON REFILLS  ==========*/
$dark-gray: #222;
$base-accent-color: $acolor;
$base-border-color: white;
$navigation-color: white;
$navigation-background: $bgcolor;
$navigation-nav-button-background: $bgcolor;
$navigation-color-hover: blue;
$navigation-active-link-color: red;
$search-bar-border-color: orange;


// $navigation-height: 25px
// $navigation-padding:
// $navigation-submenu-padding:
// $base-border-radius:
// $navigation-submenu-padding:
// $navigation-submenu-width:



.big-fancy-title {
  font-family: $big-fancy-title;
  color: $acolor;
  text-transform: uppercase;
}

.big-fancy-title3 {
  font-family: $big-fancy-title3;
  color: #fff;
}









