/* ==========================================================================
   CONTENT UPGRADE
   ========================================================================== */

.cu-tease {
	border: 1px solid $acolor;
	background-color: lightyellow;
	max-width: 600px;
	width: 90%;
	padding: 1rem;
	margin: 0 auto;
	margin-bottom: 2rem;
	p {
		font-size: .85rem;
	}
	span {
		color: darken($acolor, 15);
	}
}

.contentupdown {
	margin: 1rem auto;
	text-align: center;
}