/* ==========================================================================
   WELCOME GATE SALES LETTER
   ========================================================================== */

.salesletter {
	// border: 2px dotted green;
	// max-width: 35rem;
	margin: 0 auto;
	h2 {
		@extend .squeeze__tagline;
		margin-bottom: 2rem;
	}
	h3 {
		@extend .squeeze__byline;
		// margin-bottom: 0.25rem;
		// padding: 0;
		// text-align: left;
	}
	p {
		em {
			color: $acolor;
		}
		// &:first-of-type:first-line {
		// 	color: $acolor;
		// 	font-size: 1.25rem;
		// }
	}
	.indent {
		padding-left: 1.375rem;
  	text-indent: -1.375rem;
  	@media screen and (min-width: 400px) {
  		padding-left: 0;
  		text-indent: 2rem;
  	}
	}
	li.inner {
		list-style-type: circle;
		text-transform: none;
		&:first-of-type {
			margin-bottom: 1rem;
		}
	}
}

.salesletter__sub1 {
	font-size: 1rem;
	color: $pcolor;
	font-style: italic;
}

.salesletter__sub2 {
	padding-top: 2rem;
	color: $acolor;
	font-size: 1.5rem;
	font-weight: bold;
	// text-align: center;
	@media screen and (min-width: 400px) {
		text-indent: -5rem;
	}
}


.salesletter__storylist {
	margin: 0 auto;
	max-width: 35rem;
	li {
		color: lighten($pcolor, 25);
		padding-bottom: 1rem;
		@media screen and (min-width: 30rem) {
			margin-left: 6rem;
		}
		font-weight: bold;
		em {
			color: $acolor;
		}
		// span {
		// 	display: block;
		// 	@media screen and (min-width: 30rem) {
		// 		display: inline;
		// 	}
		// }
	}
}

.salesletter__trf {
	font-size: 1rem;
	margin: 0 0 2rem 0;
	i {
		color: $acolor;
	}
 	li {
 	@media screen and (min-width: 30rem) {
 		margin-left: 0;
	 	}
 	}
 }

// .salesletter p:first-of-type:first-line {
// 	color: $acolor;
// 	font-size: 1.25rem;
// }

.storytitle {
	text-transform: uppercase;
	color: $acolor;
}

.cover-fan {
	display: block;
	// border: 1px solid pink;
	width: 90%;
	// max-width: 90%;
	margin: 1rem auto 2rem;
	@media screen and (min-width: 37rem) {
		width: 100%;
	}
}

.rf-cover {
	display: block;
	width: 90%;
	margin: 0 auto 1rem;
	padding: 1rem 0 2rem;
	transform: rotate(-3deg);
	@media screen and (min-width: 37rem) {
		width: 40%;
	}
}

.intro_atticus {
	// border: 2px dotted green;
	float: left;
	padding-right: 0.75rem;
	width: 25%;
}


.challenge {
	// background-color: $acolor;
	// color: $paper;
	max-width: 37rem;
	margin: -1rem auto 0;
	padding: 1rem;
}

.q-bar {
	// border: 2px solid blue;
	display: block;
	margin: 0 auto 1rem;
	height: 75px;
	// fill: darkred;
}

.q__challenge {
	max-width: 80%;
	font-style: italic;
	// color: $acolor;
}

.footnote {
	font-size: .9rem;
	font-style: italic;
	color: $acolor;
	padding: 0 2rem;
	// @extend .hangingindent;
}

.customer-avatar {
	float: left;
	padding: 0 1rem 1rem 0;
	height: 140px;
}


.description {
	border: 1px solid $pcolor;
	// border-left: 1px solid $acolor;
	// border-right: 1px solid 
	margin: 1rem auto 3rem auto;
	padding: 1rem;
	font-size: 1.15rem;
	font-weight: 400;
	@media screen and (min-width: 400px) {
		transform: rotate(-1.5deg);
		box-shadow: 4px 5px 3px #999;
	}
	.giveaway__cover {
		border: 1px solid $pcolor;
		margin: 0 auto 1rem;
		width: 100%;
		@media screen and (min-width: 400px) {
			height: 250px;
			width: auto;
			float: left;
			margin: 1rem 1rem 1rem 0;
		}
}
	.giveaway__title {
		font-family: $branding-font-family;
		color: $acolor;
		margin: 0;
		padding: 0;
	}
	.giveaway__author {
		font-family: $branding-font-family;
		color: $acolor;
		text-align: center;
		margin: 0;
		padding: 0;
		font-size: 1.25rem;
	}
	.cfn {
		text-align: center;
		font-size: 0.75rem;
		color: $acolor;
	}
	.giveaway__meta {
		font-size: 0.75rem;
		text-align: center;
		font-style: italic;
	}
}

.giveaway__smallprint {
	@extend .cu-tease;
	font-size: 0.85;
	max-width: 100%; 
}















