/* ==========================================================================
   WELCOME GATE FORM STYLES
   ========================================================================== */

#mc_embed_signup {
	// background-color: $acolor;
	label {
		color: #fff;
		margin-bottom: 1rem;
		// padding-top: 0.5rem;
		text-align: left;
		font-size: 1.15rem;
	}
}

#mc_embed_signup_scroll {
	margin-top: 1.5rem;
}

.button:link, .button:active, .button:visited, .button, .button span {
	background-color: #8b8b00 !important; /* #1ec279 */ 
	color: #fff !important;
	&:hover {
		background-color: #727217 !important; /* #00a968 */
	}
}

.mc-field-group {
	// input[placeholder] {
	// 	font-size: 0.8rem;
	// 	color: orange;
	// 	font-weight: bold;
	// 	text-align: center;
	// 	font-style: italic;
	// }

	input::-webkit-input-placeholder {
		font-size: 0.8rem;
		color: grey;
		font-weight: bold;
		// text-align: center;
		font-style: italic;
	}

	[placeholder]:focus::-webkit-input-placeholder {
	  transition: opacity 0.5s 0.5s ease; 
	  opacity: 0;
	}

}

.form__label {
	color: #fff;
}