---
layout: default
title: short-stories
---

<div class="short-stories clearfix">

  <section class="herounit">
    <div class="container">
      <h1 class="h1 herounit__headline"><span class="slabtext">Short Stories</span></h1>
      <!-- <p class="herounit__subhead">Read something short.</p> -->
      <!-- <h1 class="herounit__subhead">&lsaquo;&lsaquo;&lsaquo;&nbsp;Read&nbsp;something&nbsp;short&nbsp;&rsaquo;&rsaquo;&rsaquo;</h1> -->
      <!-- <h1 class="herounit__subhead">professional &amp; amateur sleuths &middot; noir &middot; golden age &middot; adventure &middot; crook &middot; hardboiled&nbsp;pi </h1> -->


    {% if paginator.page > 1 %}
      <!-- don't show nuthin'! -->
    {% else %}
      <h1 class="herounit__subhead">professional &amp; amateur sleuths &middot; damsels &amp; hardboiled pi's &middot; crooks &amp; killers &middot; little old ladies &amp; classic detectives</h1>
    {% endif %}

    </div> <!-- end div container -->
  </section> <!-- end section herounit -->

  <section class="page-intro" id="page-intro"> 
  	<div class="inner-container">
    		<!-- <p><span>Everybody loves a good murder.</span></p>
        <p>Choose your fav type of mystery story, <em>below</em>,<br> and see if you've got the chops to figure out whodunit before the big reveal.</p> -->
        <p><span class="uppercase">Whatever your desire &hellip;</span><br><span>professional or amateur sleuth &middot; cozy &middot; hardboiled pi &middot; crook &middot; noir &middot; golden age &middot; crime &middot; general mystery</span><br><span class="uppercase">Get your fix, below!</span></p>
        
       
        
        

<!-- 	  	<h2>whatever your poison</h2>
	  	<h4>professional sleuth &middot; cozy &middot; hardboiled pi &middot; amateur sleuth &middot; noir &middot; golden age</h4> 
	  	<h2>we've got the cure!</h2> -->

<!-- INSERT SORTBY & FILTERON HERE -->

	  </div> <!-- end of div .container -->
  </section> <!-- end of section .page-intro -->

    <!-- README IF STATEMENT -->
    {% if site.readtime %}
      {% if site.wpm %}
        {% assign readtime = page.wordcount | divided_by:site.wpm %}
      {% else %}
        {% assign readtime = page.wordcount | divided_by:180 %}
      {% endif %}
    {% endif %}

	<section class="container card__container">

		{% include card.html %}

	</section> <!-- end section .container .card__container --> 

 <div class="pagination__nav container">
    
    <ul>
      <li>
        <!-- if previous page -->
        {% if paginator.previous_page %}
          <span class="previous"><a rel="prev" href="{{ paginator.previous_page_path }}">&laquo; Previous Stories</a></span>
        {% else %}
          <span class="previous previous__none">First Page</span>
        {% endif %}
      </li>

      <li>
        <!-- if next page -->
        {% if paginator.next_page %}
          <span class="next"><a rel="next" href="{{ paginator.next_page_path }}">Next Stories &raquo;</a></span>
        {% else %}
          <span class="next next__none">Last Page</span>
      {% endif %}
      </li>
    </ul>

  </div> <!-- end div .pagination__nav -->
  
</div> <!-- end div short-stories -->








