.main {
  background: #242424 url(/assets/img/pulpicons.svg);
}

.lp__bg {
}

.lp__content {
    width: 95%;
    max-width: 60rem;
    margin: 50px auto;
    background-color: $paper;
    @media screen and (min-width: 30rem) {
        width: 85%;
    }
}

.tease__question {
  border: 2px solid darken($hothighlight, 15%);
  background-color: $hothighlight;
  box-shadow: 10px 10px 5px #888;
  max-width: 95%;
  margin: 1rem auto;
  padding: 1rem;
  color: $acolor;
  text-align: center;
  transform: rotate(-3deg);
}

.tinytagline {
    margin: -2rem 0 2rem 0;
    text-align: center;
    color: gray;
    font-weight: bold;
    font-size: 0.75rem;
    @media screen and (min-width: 30rem) {
      margin: -3.5rem 1.5rem 2rem 0;
      font-size: 1rem;
      text-align: right;
    }
    @media screen and (min-width: 49rem) {
      margin: -4rem 1.25rem 2rem 0;
    }
}

.solveit {
  margin: 1rem;
  text-align: center;
  button {
    background-color: green;
    max-width: 50%;
    width: 300px;
    height: 100px;
    margin: 0 1rem;
    color: $paper;
  }
}

.clue {

}

button.noclue {
  background-color: yellow;
  color: grey;
}





