/* ==========================================================================
   BOOK CATALOG
   ========================================================================== */

.bookcatalog {
	margin: 0 auto;
	padding: 1rem;
	// width: 960px;
}

.bc__header {
	h2 {
		color: $acolor;
		@extend .h1;
	}
}

.bc__notify {
	// margin: 2rem auto;
}

.bc__list {
	// margin: 0 auto;
	// border: 2px solid yellow;
}

.bc__book {
	padding: 1rem;
}

.bc__title {
	font-size: 1.15rem;
	text-transform: uppercase;
	color: $acolor;
}

.bc__author {
	font-size: 1rem;
	color: $pcolor;
}

.bc__notify-form {
	background-color: lighten($pcolor, 25);
	border: 1px solid $acolor;
	margin: 2rem auto;
	padding: 1rem;
	.mc-field-group input {
		margin: 0;
	}
	@media screen and (min-width: 400px) {
		// float: right;
		width: 50%;
		max-width: 320px;
	}
}