{% include head.html %}

<body {% if page.title %} id="{{ page.title }}"{% endif %}>

  <main class="main" roll="main">
    <header class="topbanner thankyou">
      <div class="solution__banner">
        <h2 class="solution__header">SOLUTION</h2>
        <h3 class="solution__subhead">Who turned off the gas?</h3>
        <!-- <img class="titles__image" src="/assets/img/radiator.png" alt="old fashioned gas heater"> -->
        <p>The testimony of the milkman showed he never touched the tube or the gas cock. </p>
        <p>The patrolman took the tube from the girl’s mouth. If he didn’t turn it off, he must have seen it had been turned off.</p>
        <p class="answer">That left only Herman &mdash; who, by force of habit &mdash; had turned the gas off.</p>
      </div> <!-- end div.solution__banner -->
    </header> <!-- end header.topbanner.thankyou -->

    {{content}}
  </main>

{% include scripts.html %}

</body>